<html data-theme="business"></html>
   <div class="navbar bg-base-200 text-pink-500">
      <div class="flex flex-auto">
        <a class="btn btn-ghost normal-case text-xl  hover:bg-cyan-300" href="/">Lego Collection</a>
      </div>

      <div class="navbar-center flex text-pink-500">
        <ul class="menu menu-horizontal px-1">
          <li><a class="<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a></li>
          <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
          <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
        </ul>
      </div>
    </div>

