<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="website icon" type="png" href="https://imgs.search.brave.com/DDqTqZZn5YkwTfrkkosGhR0eCNHSM1uSU-MFDrwpZaQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sb2dv/cy13b3JsZC5uZXQv/d3AtY29udGVudC91/cGxvYWRzLzIwMjIv/MTAvT1ZPLUVtYmxl/bS01MDB4MjgxLnBu/Zw" />
  </head>
  
  <body>
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto  text-pink-500">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
          <img src="/image/IMG_2075.JPG" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">About Me!</h1>
            <br>
            <p class="py-3 font-semibold">Hey guys, my name is Cris Huynh. I'm currently studying Bachelor of Technology - Software Development.</p>
            <p class="py-3 font-semibold">Learning Full Stack Developer <br> + (Frontend Developer using React, JavaScript, TypeScript and HTML) <br> + (Backend Developer using C++, Node.js, Next.js, Nest.js, Express.js, MongoDB, SQL and Java)</p>
            <p class="py-3 font-semibold">2nd Year (3nd semester) Software Developing Student</p>
            <p class="py-3 font-semibold">2023 Goals: Fluent at Fronted Developing and start focusing on Backend Developing</p>
            <p class="py-3 font-semibold">I love The Weeknd, Travis Scott and Drake :) .</p>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daisyui@1.1.0/dist/full.js"></script>
     
  </body>
</html>
